template(name="Licenses")
  h3 Licenses
  input#newLicense(type="text" placeholder="license")
  input#email(type="text" placeholder="email")
  a#createLicense(href="#") create license
  ul
    each licenses
      li
        = identifier
        | |  
        = email
        | |  
        = _id
